@import url("../commonPartsOfAllPages.css");

.button-container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.button-container > button {
    padding: 0px 22px;
    width: 304px;
    height: 56px;
}

#withdrawBtn {
    margin-top: 23.5px;
    margin-left: 10px;
    width: 65%;
}

.box {
    border: 3px solid black;
    margin: 50px auto;
    display: none;
    width: 70%;
}

.box > p {
    text-align: center;
}

.movements-container {
    background-color: #f2f0ec;
}

.movement-container, .container {
    background-color: white;
    margin: 20px;
}

.movement-container {
    border: thin solid black;
    padding: 0px 18px;
}

.movement-information {
    border: thin solid black;
    background-color: white;
    font-size: 14px;
    padding: 10px;
    margin: 20px;
}

.movement-information > * {
    margin: 7px 10px;
}

.movement-type {
    font-size: 18px;
}

fieldset {
    margin: 20px auto;
}

label#lbl-charge-description {
    height: 50px;
    width: 65.2%;
}

textarea#txtArea-description {
    max-width: 100%;
    height: 100%;
    width: 100%;
}