@import url("../commonPartsOfAllPages.css");

.box {
    border: 3px solid black;
    width: 70%;
    margin: 50px auto;
}

.box > p {
    text-align: center;
}

.container {
    background-color: white;
    margin: 20px;
}

form {
    margin: 50px auto;
    width: 80%;
}

fieldset {
    margin: 20px auto;
}

label#lblDescription {
    height: 50px;
    width: 65.3%;
}

.sub-container label {
    width: 31.9%;
}

input {
    cursor: not-allowed;
}