@import url("../commonPartsOfAllPages.css");
@import url("../commonPartsOfAuctions.css");

.button-container {
    text-align: center;
    margin: 0 auto;
    width: 82%;
}

.button-container > button {
    padding: 0px 22px;
    width: 304px;
    height: 56px;
}

.box {
    border: 3px solid black;
    width: 70%;
    margin: 50px auto;
    display: none;
}

.box > p {
    text-align: center;
}

.container {
    background-color: white;
    margin: 20px;
}

fieldset {
    margin: 20px auto;
}

#label-productState, #label-productCategory {
    height: 80px;
}

label#lblDescription {
    height: 50px;
    width: 65.3%;
}

.sub-container label {
    width: 31.9%;
}

textarea#auctionDescription {
    max-width: 100%;
    height: 100%;
    width: 100%;
}