@import url("../commonPartsOfAllPages.css");

.container {
    background-color: white;
    padding: 16px;
}

form {
    border: 3px solid #f1f1f1;
    margin: 50px auto;
    width: 80%;
}

fieldset {
    margin: 20px auto;
}

a:link {
    text-decoration: underline;
}

#div-login {
    background-color: #f1f1f1;
    text-align: center;
}