@import url("../commonPartsOfAllPages.css");
@import url("../commonPartsOfAuctions.css");

h2 {
    text-align: initial;
}

.auction-container {
    margin: 0px;
}

.container {
    border: 3px solid black;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}

#auction-details {
    text-align: justify;
    text-justify: inter-word;
}

button{
    height: 50px;
}

button:disabled, button[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #CCC;
}

#automationBtn {
    width: 96.8%;
    margin: 10px;
}

#newBidBtn {
    margin-left: 10px;
    margin-top: 29px;
    width: 47%;
}

fieldset {
    margin: 20px auto;
}

.sub-container label {
    margin: 10px;
    width: 47%;
}

#bidsTable {
    border-collapse: collapse;
    width: 100%;
}
  
#bidsTable td, #bidsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bidsTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#bidsTable th {
    background-color: #04AA6D;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
    color: white;
}