@import url("../commonPartsOfAllPages.css");

.container {
    padding: 16px;
}

form {
    border: 3px solid #f1f1f1;
    margin: 50px auto;
    width: 40%;
}

a:link {
    text-decoration: underline;
}

input {
    background-color: white;
    border: 1px solid #ccc;
    margin: 8px auto;
    height: 100%;
}

#div-registration {
    background-color: #f1f1f1;
    text-align: center;
}