.auctions-container {
    background-color: #f2f0ec;
}

.auction-container {
    background-color: white;
    border: 3px solid pink;
    margin: 20px;
}

a.download-report {
    margin-left: 83%;
}

.auction-description {
    border: 3px solid red;
    display: inline-flex;
    height: 140px;
    width: 100%;
}

.auction-image {
    border: 3px solid yellowgreen;
    margin: 10px;
    width: 30%;
}

.auction-information {
    border: 3px solid orange;
    font-size: 14px;
    margin: 10px;
    width: 100%;
}

.auction-information > * {
    margin: 7px 10px;
}

.auction-title {
    font-size: 18px;
}

#auction-remaining-time > p {
    display: inline;
}