* {
  font-family: "Lucida Console", "Courier New", monospace;
  box-sizing: border-box;
  color: black;
}

html {
  background-color: #f2f0ec;
  visibility: hidden;
}

body {
  border: 3px solid #04AA6D;
  background-color: white;
  margin: auto;
  width: 80%;
}

a:link {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

h2 {
  text-align: center;
  margin: 30px auto;
  margin-top: 40px;
  width: 100%;
  
}

h3 {
  text-align: center;
  margin: 30px auto;
  width: 40%;
}

img {
  max-height: 100%;
  margin: 0px auto;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.dropdown-content {
  background-color: #333;
  position: absolute;
  width: 99px;
  top: 49px;
  right: 147px;
  display: none;
}

#divLogout{
  cursor: pointer;
}

.logout {
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

select {
  background: #f1f1f1;
  padding: 15px;
  border: none;
  height: 62%;
  width: 100%;
}

.sub-container label {
  display: inline;
  float: left;
  margin: 5px;
  width: 32%;
}

input {
  background: #f1f1f1;
  display: inline-block;
  padding: 15px;
  border: none;
  height: 50px;
  width: 100%;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

button{
  background-color: #04AA6D;
  padding: 16px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  margin: 8px 0;
  border: none;
  opacity: 0.9;
  width: 100%;
}

button:hover {
  opacity: 1;
}