@import url("../commonPartsOfAllPages.css");
@import url("../commonPartsOfAuctions.css");

.container {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.auctions-container {
    border: 3px solid black;
    margin: 20px;
    height: 100%;
    width: 100%;
}

/* 
 * if there are no auctions, the message 
 * is displayed in the center of the div.
 */
.auctions-container > p {
    text-align: center;
}

.filters-container {
    border: 3px solid black;
    float: left;
    width: 500px;
    height: 100%;
    margin: 20px;
}

fieldset {
    margin: 20px;
}

.filters-container label{
    float: left;
    margin: 5px;
}

button {
    margin: 8px 5px;
    width: 96%;
}